.c-badge {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  color: white;
  font-size: 32px;
  background-color: var(--disabled);
  border-radius: 32px;
  padding: 0 16px;

  &.xlarge {
    font-size: 40px;
  }

  &.large {
    font-size: 36px;
  }

  &.small {
    font-size: 28px;
  }

  &.xsmall {
    font-size: 24px;
  }

  &.primary {
    background-color: var(--primary);
  }

  &.warning {
    background-color: var(--warning);
  }
}
