.c-link {
  display: inline-block;
  font-size: 32px;
  color: var(--text);
  text-align: center;

  &:active {
    color: color(var(--primary) blackness(+15%));
  }

  &.xlarge {
    font-size: 48px;
    font-weight: bold;
  }

  &.large {
    font-size: 40px;
  }

  &.small {
    font-size: 24px;
  }

  &.xsmall {
    font-size: 16px;
  }

  &.primary {
    color: var(--primary);

    &:active {
      color: color(var(--primary) blackness(+15%));
    }
  }

  &.warning {
    color: var(--warning);

    &:active {
      color: color(var(--warning) blackness(+15%));
    }
  }
}
