.c-range {
  position: relative;
  padding: 30px;

  &::before {
    content: ' ';
    display: block;
    height: 4px;
    background-color: var(--placeholder);
  }

  &.disabled {
    & .c-range-content {
      &::after {
        background-color: var(--placeholder);
      }
    }
  }
}

.c-range-content {
  position: relative;
  transform: translate3d(0, -4px, 0);
  height: 4px;
  background-color: var(--primary);

  &::after {
    content: ' ';
    position: absolute;
    top: -30px;
    right: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1PX 3PX rgba(0, 0, 0, 0.4);
  }
}
