.c-row {
  font-size: 32px;
  position: relative;
  overflow: hidden; /* preventing horizontal scrollbar */

  &:active {
    background-color: color(var(--disabled) alpha(0.4));
  }

  &-flex {
    display: flex;
    flex-direction: row;

    &:active {
      background-color: transparent;
    }

    & ~ .c-row-flex {
      &::before {
        content: none;
      }
    }
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1PX solid var(--disabled);
  }

  &::after {
    content: ' ';
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 100%;
    border-top: 1PX solid var(--disabled);
  }

  & ~ .c-row {
    &::before {
      content: none;
    }
  }

  &:last-child {
    &::after {
      left: 0;
    }
  }
}

.c-row-link {
  color: var(--disabled);
  margin-left: 10px;
  margin-right: 20px;
  align-self: center;
  transform: rotate3d(0, 0, 1, 90deg);
}
