.c-spinner {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;

  &.snake {
    animation: c-spinner-snake 0.8s infinite linear;
    border-color: color(white lightness(80%)) transparent color(white lightness(80%)) color(white lightness(80%));
    border-style: solid;
    border-width: 4px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: inline-block;
  }

  &.xlarge {
    width: 80px;
    height: 80px;
  }

  &.large {
    width: 64px;
    height: 64px;
  }

  &.small {
    width: 32px;
    height: 32px;
  }

  &.xsmall {
    width: 24px;
    height: 24px;
  }
}

@keyframes c-spinner-snake {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}
